body::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;

  scroll-behavior: smooth;
}

.glowtext1 {
  text-shadow: 0 0 40px #ffcd7e;
  font-size: 13vmin;
}

.glowtext2 {
  text-shadow: 0 0 10px #ffcd7e;
}

.glowtext3 {
  text-shadow: 0 0 20px #ffcd7e;
}