name: Check if Nextjs app builds

on:
  push:
    branches: [stag, prod]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup nodejs and yarn
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: Yarn install and build
        run: |
          yarn install --frozen-lockfile
          yarn build
